::placeholder{
    text-transform: lowercase;
    color: $form-fill;
    opacity: 0.5;
}
.form_group{
    margin-bottom: 18px;
}
.form_label{
    display: block;
    margin-bottom: 4px;
    font-size: 10px;
    font-weight: 500;
    opacity: 0.8;
    span{
        color: #f00;
    }
}
.form_control{
    font-size: 11px;
    font-weight: 400;
    border: 1px solid rgb(199, 202, 209);
    border-radius: 2px;
    background-color: white;
    box-sizing: border-box;
    box-shadow: none;
    color: rgb(34, 37, 43);
    padding: 8px 10px;
    height: 34px;
    width: 100%;
    &:focus{
        // border-color: $focus;
        box-shadow: 0px 0px 1px 0px $focus;
    }
}

.form_control:disabled{
    background-color: $bg-color;
}

textarea.form_control{
    min-height: 80px;
}
