.design_block {
  width: 60% !important;
  margin: auto;
  height: calc(100vh - 70px);
  overflow: auto;
  padding-bottom: 10px;

  .action_block {
    position: absolute;
    right: 10px;
    top: 10px;
    clear: both;
    button {
      min-width: 90px;
      margin: 10px;
    }
  }
}

.graph_container {
  width: 100%;
  height: 100%;
  overflow: auto;
}

