<section class="block_content design_block">
  <div #graphContainer class="graph_container" style="position: unset !important;"></div>
  <div>
    <button mat-rised-button (click)="submitGraph()">submit</button>
  </div>
</section>
