<section class="block_content design_block">
  <div #graphContainer class="graph_container"></div>
  <div #outlineContainer
		style="z-index:1;position:absolute;overflow:hidden;top:100px;right:10px;width:160px;height:120px;background:transparent;border-style:solid;border-color:lightgray;">
	</div>
  <div>
    <button mat-rised-button (click)="submitGraph()">submit</button>
  </div>
</section>
