.btn_class {
  position: absolute;
  right: 10px;
  top: 60px;
  clear: both;
  button {
    min-width: 90px;
    margin: 10px;
    z-index: 3;
  }
}

.toolbar {
  height: 60px;
  margin: -8px;
  display: flex;
  align-items: center;
  background-color: #1976d2;
  color: white;
  font-weight: 600;
}

.toolbar img {
  margin: 0 16px;
}

.toolbar #twitter-logo {
  height: 40px;
  margin: 0 16px;
}

.toolbar #twitter-logo:hover {
  opacity: 0.8;
}
