
.sidebar {
  overflow: auto;
  width: 20% !important;
  .selected {
    height: 50px;
    vertical-align: middle;
    width: 100%;
    padding-left: 10px;
  }
}

.add_section_div {
  border: 1px dashed gray;
  border-radius: 4px;
  cursor: pointer;
  margin: 20px;
  text-align: center;
  padding: 10px 30px;
  i {
    font-size: 20px;
    font-weight: 300;
    color: rgb(107, 107, 107);
  }
  div:first-child {
    white-space: nowrap;
    font-size: 12px;
  }
}
